---
import AstroSVG from '../assets/astro/astro-cover.png'
import TailwindSVG from '../assets/svg/undraw/undraw_tailwind_css.svg'
import HTMLSVG from '../assets/svg/undraw/undraw_static_assets.svg'

const callouts = [
{
    description: 'Un framework de PHP para el desarrollo de aplicaciones web modernas y escalables.',
    imageSrc: '\Logo.min.svg.png',
    imageAlt: 'Laravel logo',
    href: 'https://laravel.com'
  },
  {
    description: 'Un lenguaje de programaci칩n vers치til y potente para desarrollo web, ciencia de datos e inteligencia artificial.',
    imageSrc: '\python-3.svg',
    imageAlt: 'python logo',
    href: 'https://www.python.org'
  },
  {
    description: 'Base de datos relacional avanzada, ideal para aplicaciones empresariales de alto rendimiento.',
    imageSrc: '\postgresql.png',
    imageAlt: 'postgresql logo',
    href: 'https://www.postgresql.org'
  },
  {
    description: 'Un framework de desarrollo frontend robusto para crear aplicaciones web din치micas y escalables.',
    imageSrc: '\angular.svg',
    imageAlt: 'angular logo',
    href: 'https://angular.io'
  },
  {
    description: 'Biblioteca de aprendizaje autom치tico y redes neuronales para soluciones de IA avanzadas.',
    imageSrc: '\TensorFlow.png',
    imageAlt: 'TensorFlow logo',
    href: 'https://www.tensorflow.org'
  },
  {
    description: 'Plataforma en la nube de Microsoft para el desarrollo y despliegue de soluciones escalables y seguras.',
    imageSrc: '\microsoft-azure.svg',
    imageAlt: 'Microsoft Azure logo',
    href: 'https://azure.microsoft.com'
  }
  
]
---

<div class='bg-purple-100 dark:bg-gray-900'>
  <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
    <div class='mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32'>
      <h2 class='text-4xl text-center font-extrabold text-purple-800 dark:text-purple-200'>游 Tecnolog칤as que Impulsan Nuestro Desarrollo</h2>
      <div class='mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0 '>
        {
          callouts.map((callout) => (
            <div class='group relative'>
              <div class='sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 relative h-80 w-full overflow-hidden rounded-lg  group-hover:opacity-20 sm:h-64 dark:bg-white-600'>
                <img
                  src={callout.imageSrc}
                  alt={callout.imageAlt}
                  class='h-full w-full object-contain object-center'
                  loading='lazy'
                />
              </div>
              <h3 class='mt-6 text-2xl text-purple-500 dark:text-purple-300'>
                <a href={callout.href}  target="_blank" rel="noopener noreferrer">
                  <span class='absolute inset-0' />
                  
                </a>
              </h3>
              <p class='text-base text-gray-900 dark:text-gray-100'>{callout.description}</p>
              <p>---</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
